# Backend Maven
mediatheque-api/target/

# Frontend Node/Vite
mediatheque-front/node_modules/
mediatheque-front/dist/

# Secrets / config locale (à ne jamais versionner)
**/standalone.xml
*.key
*.crt

# IDE
.vscode/
.idea/
k8s/postgres-secret.yaml
# Secrets Kubernetes (contiennent des mots de passe en clair)
k8s/postgres-secret.yaml

# Clé privée SSL
apache-docker/ssl/mediatheque.key

# War et jar buildés (artefacts, pas du code source)
wildfly-docker/mediatheque-api.war
wildfly-docker/postgresql-module/*.jar
